html, body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.44;
	letter-spacing: 0.06em;
	text-align: justify;
}

textarea {
	resize: none;
	field-sizing: content;
}