<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PEEL Quest</title>
		<link rel="stylesheet" href="/static/html_reset.css">
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" href="/static/layout.css">
		<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
	</head>
	<body>
		<div id="app">
			<p v-if="!brief">
				This is a very early prototype of an AI feedback assistant.
				You should only be here by the specific invitation of its creator.
				If you don't know who that is, you shouldn't be here.
			</p>
			<div v-if="brief" v-html="rendered_brief"></div>
			<hr />
			<form v-on:submit.prevent="getAssignment" v-if="!brief">
				<label for="assignment">Assignment Code:</label>
				<input
					type="text"
					id="assignment"
					v-model="assignment"
					placeholder="a1-b2-c3"
				></input>
				<button v-bind:disabled="active_requests.length > 0" type="submit">
					{{ active_requests.length > 0 ? this.nonsense : "Load Assignment" }}
				</button>
			</form>
			<form v-on:submit.prevent="submitAssignment" v-if="brief">
				<label for="submission">Your Submission:</label>
				<textarea
					id="submission"
					v-model="submission"
					placeholder="Write your assignment here..."
				></textarea>
				<button v-bind:disabled="active_requests.length > 0" type="submit">
					{{ active_requests.length > 0 ? this.nonsense : "Submit Assignment" }}
				</button>
			</form>
			<hr v-if="feedback"/>
			<div v-if="feedback" v-html="rendered_feedback"></div>
			<hr v-if="error"/>
			<p class="emphasis" v-if="error">{{ error }}</p>
			<hr />
			<p class="legal">
				&copy; 2026-01
			</p>
			<p v-if="brief" class="legal">
				Feedback provided by a Generative AI model.
				Please review and verify all feedback carefully.
				Feedback provided under the CC BY-NC 4.0 license.
			</p>
		</div>
		<script>
			Vue.createApp({
				data() {
					return {
						assignment: null,
						brief: null,
						submission: null,
						error: null,
						feedback: null,
						nonsense: "Submitted...",
						active_requests: [],
					}
				},
				methods: {
					updateNonsense() {
						const nonsenses = [
							"Processing...",
							"Combobulating...",
							"Processing...",
							"Computing...",
							"Processing...",
							"Reticulating...",
							"Processing...",
							"Calculating...",
						]
						const milliseconds = Date.now()
						const intervals = Math.floor(milliseconds / 2100)
						this.nonsense = nonsenses[intervals % nonsenses.length]
					},
					async getAssignment() {
						this.error = null
						this.feedback = null
						const request = fetch(`/api/assignment/${this.assignment}`)
						this.active_requests.push(request)
						const response = await request
						if (response.ok) {
							const data = await response.json()
							this.brief = data.brief
						} else {
							this.error = `Error: ${response.status} ${response.statusText}`
						}
						this.active_requests = this.active_requests.filter((r) => r !== request)
					},
					async submitAssignment() {
						this.error = null
						this.feedback = null
						const request = fetch(`/api/assignment/${this.assignment}/submission`, {
							method: "POST",
							headers: { "Content-Type": "application/json" },
							body: JSON.stringify({ submission: this.submission }),
						})
						this.active_requests.push(request)
						const response = await request
						if (response.ok) {
							const data = await response.json()
							this.feedback = data.feedback
						} else {
							this.error = `Error: ${response.status} ${response.statusText}`
						}
						this.active_requests = this.active_requests.filter((r) => r !== request)
					},
				},
				computed: {
					rendered_brief() {
						return marked.parse(this.brief)
					},
					rendered_feedback() {
						return marked.parse(this.feedback)
					},
				},
				mounted() {
					setInterval(this.updateNonsense, 30)
					this.assignment = new URLSearchParams(window.location.search).get("assignment")
					if (this.assignment) {
						this.getAssignment()
					}
				},
			}).mount("#app")
		</script>
	</body>
</html>