html {
	--background: #fff;
	--alternate: #ccc;
	--foreground: #000;
	--emphasis: #603;
}

@media (prefers-color-scheme: dark) {
	html {
		--background: #110;
		--alternate: #333;
		--foreground: #ffe;
		--emphasis: #f9c;
	}
}

body {
	background: var(--alternate);
	color: var(--foreground);
}

body > div {
	background: var(--background);
	color: var(--foreground);
}

input, textarea, button {
	background-color: var(--alternate);
	color: var(--foreground);
	border-width: 0.5em;
	border-style: solid;
	border-color: var(--alternate);
}

.emphasis {
	color: var(--emphasis);
	font-weight: bold;
}